<div class="energy-analysis">
    <div class="timespan-tab">
    </div>

     <div class="data-tab">
        <div class="sumary-data">
        </div>
        <div class="chart-data">
        </div>
    </div>
</div>