.energy-analysis{
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;
    flex-basis:auto;
}
.timespan-tab{
    flex-basis: 15%;
     display: flex;
}
.data-tab{
     flex-basis: 85%;
      display: flex;
}
.sumary-title{
    align-self:center;
}
.chart-data{
    display: flex;
}
