.energy-analysis{
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
}
.timespan-tab{
    flex-basis: 12%;
    display: flex;
    flex-direction:column;
}
.timespan-tab-cycle-block{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 170px;
    background: #CBDCEB;
    border-top: solid 1px #A4D2DA;
    cursor: pointer;
}
.timespan-tab-cycle-block.active{
     background: #fff;
}
.blacktheme .timespan-tab-cycle-block{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 170px;
    background: rgb(31, 31, 31);
    border-top: solid 1px #000;
}
.timespan-tab-label{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 80%;
    font-size: 30px;
    color: #2777b5
}
.timespan-tab-cycle-date-block{
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
}
.timespan-tab-date-input{
    flex-basis: 70%;
     display: flex;
    align-items: center;
    justify-content: center;
}
.timespan-tab-date-input >input{
     width:100%;
     border-width:0px;
     font-size: 18px;text-align: center;
     background: #f9f9f9;
}
.blacktheme .timespan-tab-date-input >input{
     background: -webkit-gradient(linear, 0 0, 100% 0, from(rgb(31, 31, 31)), to(rgb(45, 45, 48)));
}
.timespan-tab-left-nav >img, .timespan-tab-right-nav >img{
     width: 15px;
}
.timespan-tab-left-nav ,.timespan-tab-right-nav{
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/**/
.data-tab{
    flex-basis: 88%;
    display: flex;
    flex-direction:column;
}
.sumary-title{
    background-color:#d9e4eb;
    flex-basis: 20%;
    width: 100%;
    align-self:center;
    display: flex;
    flex-direction: row;
}
.sumary-title-menu{
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
}
.sumary-title-menu-img{
    flex: 1;
    padding: 5px;
    cursor: pointer;
}
.sumary-title-menu-img >img{
     width: 20px;
}
.sumary-title-block{
    flex-basis: 25%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sumary-title-data{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    color: #222;
}
.sumary-title-data > span{
    display: flex;
    justify-content: center;
}
.sumary-title-data > span:first-child{
    flex: 3;
    align-items: flex-end;
}
.sumary-title-subdata{
    font-size: 16px;
    flex: 1;
}
.sumary-title-label{
    flex: 1;
    color: #4C4C4C;
    font-size: 12px;
}

/**/
.chart-data{
    transform: translate3d(1,2,20);
    width: 100%;
    flex-basis: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chart-data-bar{
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.chart-data-bar >div,.chart-data-pie >div,.chart-data-line > div{
    flex:1;
}
.chart-data-pie{
    width: 25%;
    float: left;
    align-items: stretch;
    justify-content: space-between;
}
.chart-data-line{
    width: 75%;
    float: left;
    align-items: stretch;
    justify-content: space-between;
}
