<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, 
  maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="Kobepeng的监控面板" />
  <meta name="keywords" content="Kobepeng,yipeng.info" />
  <title>Kobepeng | 监控</title>

  <link rel="stylesheet" type="text/css" href="lib/reset/reset.css">
  <!-- jquery ui -->
  <link rel="stylesheet" type="text/css" href="lib/static/jquery-plugin/jquery-ui/css/jquery-ui-1.10.1.css">
  <link rel="stylesheet" type="text/css" href="lib/static/jquery-plugin/jquery-ui/css/siena.datepicker.css">
  <!-- bootstrap3 -->
  <link rel="stylesheet" type="text/css" href="lib/static/bootstrap3.3.2/css/bootstrap.min.css">
  <!--  jquery datables -->
  <link rel="stylesheet" type="text/css" href="lib/static/jquery-plugin/jquery-datatables/dataTables.tableTools.css">
  <link rel="stylesheet" type="text/css" href="lib/static/jquery-plugin/jquery-datatables/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="lib/common/css/toolbars.css">
  <link rel="stylesheet" type="text/css" href="lib/common/css/halflings.css">
  <!--jquery+bootstrap日历选择器 -->
  <link rel="stylesheet" type="text/css" href="lib/static/jQuery-plugin/datepicker/bootstrap-datetimepicker.min.css">
  <!--map -->
  <link rel="stylesheet" type="text/css" href="static/svgmap/css/SyntaxHighlighter.css">
  <!-- 区域树形样式 -->
  <link rel="stylesheet" type="text/css" href="lib/group/css/areaTree.css">
  <!-- 整体样式 -->
  <link rel="stylesheet" type="text/css" href="lib/group/css/grey_group.css">


  <!-- 用户监控代码 (略)-->
</head>

<body>
  <script src="lib/lib.js"></script>
  <script src="boot.js?__inline"></script>
</body>

</html>