
nav.global-nav:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#userAccountInfo {
    /*color:#7a7a7e;*/
    margin-right:15px;
    color:#FFFFFF !important
}
.topic_switch{
    width: 30px;
    height: 30px;
    cursor:pointer;
}
.brand {
    float: left;
    margin-left:5px;
}
    .brand img {
        float: left;
        height: 45px;
        margin-top: 5px;
    }
    .brand > span {
        font-size: 16px;
        display: inline-block;
        margin-top: 25px;
        margin-left:3px;
    }
.management-name {
    font-size: 28px;
    line-height: 1.5;
}
.menu-list-nav {
    float: right;
    margin-bottom: 0px;
}
 .menu-list-nav > li {
        display: inline-block;
        font-size: 14px;
    }

/*.parent_li*/
.menu li > span {
    cursor: pointer;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-bottom: solid #444 1px;
}

.menu > ul > li > span {
    cursor: pointer;
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: #222;
    border-bottom: solid #111 1px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}

.menu > ul > li > ul span {
    background-color: #272728;
}
.menu li >span:hover {
    background-color: #333;
}
.menu li.li_selected > span {
    background: #333;
    font-size: 16px;
}
.menu li.li_selected > ul > li.li_selected > span {
    background: #333;
    font-size: 13px;
}
.menu li.li_selected > span>a {
    color:white;
}
