        <span class="management-name">
            {{title}}
        </span>
        <div class="brand">
            <img  src="{{logo}}" height="45" />
            <span> {{systemName}}</span> 
        </div>
        <ul class="menu-list">
            <li style="height: 50px">
                <img class="topic_switch" src="Images/topic1.png"  width="30" height="30" style="cursor:pointer"/>
                <a id="userAccountInfo" href="#" class="link-style">
                   <img src="Images/user.png" style="width: 40px;" />{{userName}}</a>
            </li>
        </ul>